@charset "utf-8";

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

.header-contents{
    background-color: #333;            
    height: 90px;
}
h1{
    color: #fff;  
}
h2{
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 15px; 
    padding-top: 15px;           
    margin-bottom: 15px;
}
.main-contents{
    text-align: center;
}
.footer-contents{
    background-color: #333;            
    height: 90px;
}
.footer-contents > small{
    color: #fff;
}
.self-img{
    height: 300px;
    width: 400px;
}